extends ../layouts/layout

block content
  mixin thumbnail(imagePath, title, description, price)
    .col-sm-6.col-md-4
      .thumbnail
        img(src=imagePath).img-responsive
        .caption
          h3= title
          p.description= description
          .clearfix
            .price.pull-left $ #{price}
            a.btn.btn-success.pull-right(href='#', role='button') Add to Shopping Cart
  
  each product in products
    .row
      each item in product
        +thumbnail(item.imagePath, item.title, item.description, item.price)
